.topbar {
  width: 100%;
  height: 60px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* height: 100% !important;
    width: 100%; */
  cursor: pointer;
}
.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.topLeft {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.topRight {
  display: flex;
  align-items: center;
}
.material-icon {
  color: #5a46ff;
}

.header {
  padding: 1rem !important;
}

.username {
  font-size: 20px;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 0.4rem;
}

@media(max-width:720px){
  .admin-header, .welcome-text{
    display: none;
  }
 

}