.consultationsList,
.consultation {
  flex: 4;
}

.viewButton {
  padding: 2px 10px;
  border-radius: 5px;
  color: #000;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
  font-weight: bold;
}
.viewButton:hover {
  background-color: gray;
  color: #fff;
}

.pending-btn {
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #f8ba03;
  font-weight: bold;
}

.completed-btn {
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #60d835;
  font-weight: bold;
}

.details-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.details-label {
  display: flex;
  font-size: 18px;
  color: black;
  font-weight: bold;
  width: 24%;
}

.dignosis-header,
.symptoms-header {
  padding: 1rem;
}
textarea {
  width: 80%;
  height: 240px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.diagnosis-btn-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.diagnosis-form {
  padding: 1rem;
}

.symptoms-container {
  max-width: 50%;
  line-height: 1.6;
}
.symptoms {
  padding: 0rem 1rem;
}

.update-btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mark-btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.4rem;
}

.mark-btn:hover {
  background-color: black;
  color: white;
}

.update-btn:hover {
  color: black;
  background-color: white;
}
