* {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  display: flex;
  margin-top: 10px;
}
header {
  padding: 0 4rem !important;
}
/* new css */

.auth-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}
.form {
  display: flex;
  flex-direction: column;
  width: 20%;
}
